<div class="container container-top ">
  <div class="cards-top flex items-center justify-between ">
    <span class="text-xl text-primary-orange font-medium">تخفیف شگفت انگیز </span>
    <a class="flex items-center gap-1 text-lg text-primary-orange font-normal" href="#">
      بیشتر
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="var(--primary-orange)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-arrow-left w-5 h-5 mr-2">
        <path d="m12 19-7-7 7-7"></path>
        <path d="M19 12H5"></path>
      </svg>
    </a>
  </div>
</div>
<br>
<br>
<section class="container flex justify-between gap-3">
  <div class="right">
    <img src="/pic2.png" alt="pic">
  </div>
  <div class="left flex flex-col justify-between ">
    <div class="products-grid" *ngIf="!loading">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      cardVariant="orange"
      (addToCart)="addToCart($event)">
    </app-product-card>
    </div>
    <div class="bottom">
    <img src="/Frame 48095810.png" alt="">
    </div>
  </div>
</section>
