section .right {
  background: var(--primary-dark);
  background-image: url("../../../../../public/bg-orange-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  border-radius: 20px;
  width: 25%;
  position: relative;
  margin-top: 20px;
}
.products-grid {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  width: 100%;
 padding: 25px 0;
  margin-top: 5px;
}

.products-grid > * {
  flex: 0 0 260px;
  scroll-snap-align: start;
  height: auto;
}

.products-grid::-webkit-scrollbar {
  height: 4px;
}

.products-grid::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 10px;
}

.products-grid::-webkit-scrollbar-thumb {
  background: #ff5722;
  border-radius: 10px;
}

section .right img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

section .left {
  width: 75%;
}

section .bottom {
  width: 100%;
  height: calc(650px - 400px - 20px);
  background: var(--secondary-blue);
  border-radius: 20px;
  /*margin-top: 10px;*/
}
section .bottom img{
  width: 100%;
  height: 100%;
}
section .left .top::-webkit-scrollbar {
  height: 6px;
}

section .left .top::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 10px;
}

section .left .top::-webkit-scrollbar-thumb {
  background: #ff5722;
  border-radius: 10px;
}

/* ========== ریسپانسیو ========== */
@media (max-width: 1080px) {
  section {
    flex-direction: column;
    gap: 16px;
  }

  section .right {
    display: none;
  }

  section .bottom {
    display: none;
  }

  section .left {
    width: 100%;

  }

  section .left .top {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
    border-radius: 20px !important;
    flex-wrap: nowrap;
    justify-content: space-between;

  }

  section .left .top app-card-orange {
    flex: 0 0 260px;
    scroll-snap-align: start;
  }
}

@media (max-width: 576px) {
  section .left .top app-card-orange {
    flex: 0 0 220px;
  }
}

@media (max-width: 400px) {
  section .left .top app-card-orange {
    flex: 0 0 200px;
  }
}
